.home {
    align-content: center;
}
.description {
    text-align: center;
    padding: 2rem;
    background-color: #f9f9f9;
    border-bottom: 2px solid #ccc;
}

.content {
    padding: 2rem;
    border-bottom: 2px solid #ccc;
}

.map-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.contact-info {
    flex: 1;
}

.map {
    flex: 1;
    text-align: right;
}

.map img {
    max-width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
}